$default-font-size: 1.6rem;

//COLORS
$color-grey-dark: rgb(44, 44, 44);
$color-grey-medium: rgb(173, 173, 173);
$color-grey-light: rgb(224, 224, 224);

$color-charcoal: #2F4858;

$color-blue: #336699;

$color-green: #2a9d8f;
$color-green-light: #2fb8a8;

$color-yellow: #e9c46a;

$color-orange-red: #E76F51;