<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs', {obj: obj}) %>

<div class="u-container">
    <h1>Get in touch:</h1>
    <form class="form-container" action="" method="POST">

        <div class="form-group u-margin-bottom-medium">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" class="form-control__input" placeholder="Your name" required>
        </div>

        <div class="form-group u-margin-bottom-medium">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" class="form-control__input" placeholder="Your e-mail" required>
        </div>

        <div class="form-group u-margin-bottom-medium">
            <label for="subject">Subject</label>
            <input type="text" id="subject" name="subject" class="form-control__input" placeholder="Hi there!" required>
        </div>

        <div class="form-group u-margin-bottom-medium">
            <label for="message">Message</label>
            <textarea name="message" id="message" class="form-control__textarea" placeholder="Message" required></textarea>
        </div>

        <button type="submit" name="submit" class="btn btn--contact btn--submit">Send</button>

    </form>
</div>

<script src="https://www.gstatic.com/firebasejs/8.0.0/firebase.js"></script>


<%- include('../partials/footer.ejs') %>