<%- include('../partials/header.ejs', {obj: obj}) %>

<section class="grid">

    <div class="row">
        <div class="col-1-of-3">
            <div class="gallery-image-1"></div>
        </div>
        <div class="col-1-of-3">
            <div class="gallery-image-2"></div>
        </div>
        <div class="col-1-of-3">
            <div class="gallery-image-3"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-1-of-3">
            <div class="gallery-image-4"></div>
        </div>
        <div class="col-1-of-3">
            <div class="gallery-image-5"></div>
        </div>
        <div class="col-1-of-3">
            <div class="gallery-image-6"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-1-of-3">
            <div class="gallery-image-7"></div>
        </div>
        <div class="col-1-of-3">
            <div class="gallery-image-8"></div>
        </div>
        <div class="col-1-of-3">
            <div class="gallery-image-9"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-1-of-3">
            <div class="gallery-image-10"></div>
        </div>
        <div class="col-1-of-3">
            <div class="gallery-image-11"></div>
        </div>
        <div class="col-1-of-3">
            <div class="gallery-image-12"></div>
        </div>
    </div>

    <!-- <div class="row">
        <div class="col-1-of-3">1 of 3</div>
        <div class="col-1-of-3">1 of 3</div>
        <div class="col-1-of-3">1 of 3</div>
    </div>

    <div class="row">
        <div class="col-1-of-3">1 of 3</div>
        <div class="col-1-of-3">1 of 3</div>
        <div class="col-1-of-3">1 of 3</div>
    </div>

    <div class="row">
        <div class="col-1-of-3">1 of 3</div>
        <div class="col-1-of-3">1 of 3</div>
        <div class="col-1-of-3">1 of 3</div>
    </div> -->

</section>

<%- include('../partials/footer.ejs') %>
