<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs', {obj: obj}) %>

<section class="flexbox">

    <div class="flexbox__row">
        <!-- <p>fade the gallery in like the homepage.</p> -->
        <div class="flexbox__item item-1"></div>
        <div class="flexbox__item item-2"></div>
        <div class="flexbox__item item-3"></div>
    </div>

    <div class="flexbox__row">
        <div class="flexbox__item item-4"></div>
        <div class="flexbox__item item-5"></div>
        <div class="flexbox__item item-6"></div>
    </div>

    <div class="flexbox__row">
        <div class="flexbox__item item-7"></div>
        <div class="flexbox__item item-8"></div>
        <div class="flexbox__item item-9"></div>
    </div>

    <div class="flexbox__row">
        <div class="flexbox__item item-10"></div>
        <div class="flexbox__item item-11"></div>
        <div class="flexbox__item item-12"></div>
    </div>

</section>

<%- include('../partials/footer.ejs') %>
