.grid {
    margin: 0 auto;
    width: 80%;
    animation: fade-in 2s;
}

.row {
    max-width: $grid-width;
    // background-color: #eee;
    margin: 0 auto;
    height: 22rem;

    &:not(:last-child) {
        margin-bottom: $gutter-horizontal;
    }

    @include clearfix;

    [class^="col-"] {
        // background-color: $color-charcoal;
        float: left;
        height: 5rem;

        &:not(:last-child) {
            margin-right: $gutter-vertical;
        }
    }

    // OF 2
    .col-1-of-2 {
        width: calc((100% - #{$gutter-vertical}) / 2);
    }

    //OF 3
    .col-1-of-3 {
        width: calc((100% - (#{$gutter-vertical} * 2)) / 3);
    }

    .col-2-of-3 {
        width: calc((((100% - (#{$gutter-vertical} * 2)) / 3) * 2) + #{$gutter-vertical});
    }

    //OF 4
    .col-1-of-4 {
        width: calc((100% - (#{$gutter-vertical} * 3)) / 4);
    }

    .col-2-of-4 {
        width: calc((100% - #{$gutter-vertical}) / 2);
    }

    .col-3-of-4 {
        width: calc((((100% - (#{$gutter-vertical} * 3)) / 4) * 3) + (#{$gutter-vertical} * 2));
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
     to {
         opacity: 1;
     }
}
