    <footer class="footer">
        
        <div class="footer__social-links">

            <p class="footer__social-links">Follow me on social media:</p>

            <div class="footer__social-links--icons">
                <i class="fab fa-instagram-square"></i>
                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-twitter-square"></i>
                <i class="fab fa-pinterest-square"></i>
            </div>

        </div>

        <div class="footer__copyright">
            <p class="footer__copyright--p">copyright 2020</p>
        </div>

    </footer>
</body>



<script src="/js/main.js"></script>

</html>