*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #2F4858; }

.u-margin-bottom-small {
  margin-bottom: 1rem; }

.u-margin-top-small {
  margin-top: 1rem; }

.u-margin-bottom-medium {
  margin-bottom: 2rem; }

.u-margin-top-medium {
  margin-top: 2rem; }

.u-margin-bottom-big {
  margin-bottom: 3rem; }

.u-margin-top-big {
  margin-top: 3rem; }

.u-text-muted {
  color: #a0a0a0; }

.u-container {
  width: 70%;
  max-width: 70rem;
  margin: 0 auto; }

.u-form-ctrl-inline {
  display: inline-block; }

[class^="gallery-"] {
  height: 22rem;
  background-position: center;
  background-size: cover;
  transition: all .2s; }
  [class^="gallery-"]:hover {
    transform: scale(1.1);
    box-shadow: 1px 6px 20px 2px rgba(46, 46, 46, 0.73); }

.item-1 {
  background-image: url("/images/gallery-1.jpg"); }

.item-2 {
  background-image: url("/images/gallery-2.jpg"); }

.item-3 {
  background-image: url("/images/gallery-3.jpg"); }

.item-4 {
  background-image: url("/images/gallery-4.jpg"); }

.item-5 {
  background-image: url("/images/gallery-5.jpg"); }

.item-6 {
  background-image: url("/images/gallery-6.jpg"); }

.item-7 {
  background-image: url("/images/gallery-7.jpg"); }

.item-8 {
  background-image: url("/images/gallery-8.jpg"); }

.item-9 {
  background-image: url("/images/gallery-9.jpg"); }

.item-10 {
  background-image: url("/images/landscape-1.jpg"); }

.item-11 {
  background-image: url("/images/landscape-2.jpg"); }

.item-12 {
  background-image: url("/images/landscape-3.jpg"); }

.about-page-container {
  width: 90%;
  max-width: 100rem;
  margin: 0 auto;
  animation: fadeIn 2s; }

.profile-picture {
  margin: 0;
  padding: 2rem;
  height: 80rem;
  width: 40rem;
  background-position: center;
  background-size: cover;
  background-image: url("/images/profile-picture-1.jpg"); }

.about {
  padding: 2rem;
  background-color: #f1f1f1;
  height: 100%; }
  .about__heading {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    letter-spacing: .5px;
    font-weight: 300; }
  .about__paragraph {
    margin-bottom: 2rem; }

.about-flexbox {
  display: flex;
  flex-direction: row; }

@media (max-width: 50rem) {
  .about-flexbox {
    flex-direction: column; }
    .about-flexbox__item {
      padding: 0;
      margin: 0; }
  .profile-picture {
    margin: 1rem;
    height: 40rem;
    width: 100%;
    background-position: 50% 20%; } }

.contact-container {
  animation: fadeIn 2s; }

.flexbox {
  animation: fadeIn 2s; }
  .flexbox__row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100rem;
    width: 90%;
    margin: 0 auto; }
  .flexbox__item {
    height: 22rem;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin: 1%;
    transition: all .2s; }
    .flexbox__item:hover {
      transform: scale(1.05); }

@media (max-width: 50rem) {
  .flexbox__row {
    flex-direction: column; }
  .flexbox__item {
    height: 30rem; } }

.articles-container {
  max-width: 95rem;
  margin: 0 auto;
  animation: fadeIn 2s; }

.form-container {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  background-color: #2F4858;
  color: white; }

.form-group {
  display: flex;
  flex-direction: column; }

.form-control__input {
  display: block;
  height: 3rem; }
  .form-control__input:focus {
    outline: none; }

.form-control__textarea {
  display: block;
  height: 10rem;
  resize: vertical;
  font-family: "Lato", sans-serif; }
  .form-control__textarea:focus {
    outline: none; }

.slideshow {
  width: 75%;
  position: relative;
  margin: 0 auto;
  display: inline-block;
  left: 50%;
  transform: translate(-50%, 0);
  height: 75vh; }
  .slideshow__list {
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0; }
    .slideshow__list-item {
      margin: 0 auto;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      opacity: 0;
      z-index: 0;
      animation: imageAnimation 25s linear infinite; }

.slideshow__list li:nth-child(1) {
  background-image: url("/images/landscape-1.jpg"); }

.slideshow__list li:nth-child(2) {
  background-image: url("/images/landscape-2.jpg");
  animation-delay: 5s; }

.slideshow__list li:nth-child(3) {
  background-image: url("/images/landscape-3.jpg");
  animation-delay: 10s; }

.slideshow__list li:nth-child(4) {
  background-image: url("/images/landscape-4.jpg");
  animation-delay: 15s; }

.slideshow__list li:nth-child(5) {
  background-image: url("/images/landscape-5.jpg");
  animation-delay: 20s; }

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in; }
  10% {
    opacity: 1;
    animation-timing-function: ease-out; }
  20% {
    opacity: 1; }
  30% {
    opacity: 0; } }

.footer {
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .footer__copyright--p {
    font-size: 1rem;
    text-transform: uppercase;
    margin: 1rem; }
  .footer__social-links--icons {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .footer__social-links--icons i {
      font-size: 4rem; }

.btn {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 1rem 1.5rem;
  border-radius: 4px;
  margin: 1rem 0;
  border: none; }
  .btn--submit {
    padding: 1.44rem 1.5rem;
    font-size: 1.6rem; }
  .btn--green {
    background-color: #2a9d8f; }
    .btn--green:hover {
      background-color: #2fb8a8; }
  .btn--blue {
    background-color: #336699; }
    .btn--blue:hover {
      background-color: #3e7dbd; }
  .btn--grey {
    background-color: #a0a0a0; }
    .btn--grey:hover {
      background-color: #bdbdbd; }
  .btn--red {
    background-color: #be1d00; }
    .btn--red:hover {
      background-color: #c9432c; }
  .btn--yellow {
    background-color: #f8b200; }
    .btn--yellow:hover {
      background-color: #ffc42e; }
  .btn--contact {
    color: #2F4858;
    background-color: white;
    display: block;
    margin: 0 auto;
    border-radius: 0; }
    .btn--contact:hover {
      background-color: #dfdfdf;
      cursor: pointer; }

.card {
  width: 95%;
  border: 1px solid #bdbdbd;
  border-radius: .5rem;
  padding: 2rem; }
  .card:not(:last-child) {
    margin-bottom: 2rem; }
  .card__image-container img {
    width: 100%;
    height: 20rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover; }
  .card__text--index {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }

.login-container {
  display: flex;
  align-items: center; }
  .login-container p {
    margin: 1rem;
    font-size: 1.2rem; }

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100rem;
  height: 20vh;
  padding: 2.5rem 0;
  margin: 0 auto; }

.hamburger {
  font-size: 2rem;
  display: none; }
  .hamburger:hover {
    color: #ebc72a;
    cursor: pointer; }

.nav {
  max-width: 100rem;
  margin: 0 auto; }
  .nav__list {
    list-style: none;
    display: flex; }
    .nav__list-item {
      padding: 0 7rem;
      margin: 0 auto; }
      .nav__list-item-link {
        text-decoration: none;
        color: #2F4858;
        font-weight: 400;
        transition: all .2s;
        border-bottom: 1px solid white; }
        .nav__list-item-link:hover {
          border-bottom: 1px solid #2F4858; }

.active {
  color: #ebc72a; }

.show {
  top: 0; }

@media screen and (max-width: 1040px) {
  .header {
    width: 100%;
    height: 7vh; }
  .hamburger {
    display: block; }
  .nav {
    max-width: 100%;
    margin: 0 auto; }
    .nav__list {
      flex-direction: column;
      position: fixed;
      top: -300px;
      right: 0;
      z-index: 10;
      background-color: white;
      width: 100%; }
      .nav__list-item {
        padding: 1rem 2rem;
        margin: 0 auto; }
        .nav__list-item-link {
          text-decoration: none;
          color: #2F4858;
          font-weight: 400;
          transition: all .2s;
          border-bottom: 1px solid white; }
          .nav__list-item-link:hover {
            border-bottom: 1px solid #2F4858; }
  .show {
    top: 7vh; } }
