*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #2F4858; }

.u-margin-bottom-small {
  margin-bottom: 1rem; }

.u-margin-bottom-medium {
  margin-bottom: 2rem; }

.u-margin-top-small {
  margin-top: 1rem; }

.u-margin-top-medium {
  margin-top: 2rem; }

.u-text-muted {
  color: #a0a0a0; }

.u-container {
  width: 70%;
  max-width: 70rem;
  margin: 0 auto; }

.u-form-ctrl-inline {
  display: inline-block; }

[class^="gallery-"] {
  height: 22rem;
  background-position: center;
  background-size: cover;
  transition: all .2s; }
  [class^="gallery-"]:hover {
    transform: scale(1.1);
    box-shadow: 1px 6px 20px 2px rgba(46, 46, 46, 0.73); }

.gallery-image-1 {
  background-image: url("/images/gallery-1.jpg"); }

.gallery-image-2 {
  background-image: url("/images/gallery-2.jpg"); }

.gallery-image-3 {
  background-image: url("/images/gallery-3.jpg"); }

.gallery-image-4 {
  background-image: url("/images/gallery-4.jpg"); }

.gallery-image-5 {
  background-image: url("/images/gallery-5.jpg"); }

.gallery-image-6 {
  background-image: url("/images/gallery-6.jpg"); }

.gallery-image-7 {
  background-image: url("/images/gallery-7.jpg"); }

.gallery-image-8 {
  background-image: url("/images/gallery-8.jpg"); }

.gallery-image-9 {
  background-image: url("/images/gallery-9.jpg"); }

.gallery-image-10 {
  background-image: url("/images/landscape-1.jpg"); }

.gallery-image-11 {
  background-image: url("/images/landscape-2.jpg"); }

.gallery-image-12 {
  background-image: url("/images/landscape-3.jpg"); }

.profile-picture {
  margin: 1rem;
  height: 80rem;
  background-position: center;
  background-size: cover;
  background-image: url("/images/profile-picture-1.jpg"); }

.about {
  margin: 1rem; }
  .about__heading {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    letter-spacing: .5px;
    font-weight: 300; }
  .about__paragraph {
    margin-bottom: 2rem; }

.grid {
  margin: 0 auto;
  width: 80%;
  animation: fade-in 2s; }

.row {
  max-width: 114rem;
  margin: 0 auto;
  height: 22rem; }
  .row:not(:last-child) {
    margin-bottom: 6rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left;
    height: 5rem; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - (6rem * 2)) / 3); }
  .row .col-2-of-3 {
    width: calc((((100% - (6rem * 2)) / 3) * 2) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - (6rem * 3)) / 4); }
  .row .col-2-of-4 {
    width: calc((100% - 6rem) / 2); }
  .row .col-3-of-4 {
    width: calc((((100% - (6rem * 3)) / 4) * 3) + (6rem * 2)); }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.articles-container {
  max-width: 95rem;
  margin: 0 auto; }

.form-container {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  background-color: #2F4858;
  color: white; }

.form-group {
  display: flex;
  flex-direction: column; }

.form-control__input {
  display: block;
  height: 3rem; }
  .form-control__input:focus {
    outline: none; }

.form-control__textarea {
  display: block;
  height: 10rem;
  resize: vertical;
  font-family: "Lato", sans-serif; }
  .form-control__textarea:focus {
    outline: none; }

.slideshow {
  width: 80%;
  position: fixed;
  margin: 0 auto;
  display: inline-block;
  left: 50%;
  transform: translate(-50%, 0); }
  .slideshow__list {
    width: 100rem;
    height: 80vh;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0; }
    .slideshow__list-item {
      margin: 0 auto;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      opacity: 0;
      z-index: 0;
      animation: imageAnimation 25s linear infinite; }

.slideshow__list li:nth-child(1) {
  background-image: url("/images/landscape-1.jpg"); }

.slideshow__list li:nth-child(2) {
  background-image: url("/images/landscape-2.jpg");
  animation-delay: 5s; }

.slideshow__list li:nth-child(3) {
  background-image: url("/images/landscape-3.jpg");
  animation-delay: 10s; }

.slideshow__list li:nth-child(4) {
  background-image: url("/images/landscape-4.jpg");
  animation-delay: 15s; }

.slideshow__list li:nth-child(5) {
  background-image: url("/images/landscape-5.jpg");
  animation-delay: 20s; }

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in; }
  10% {
    opacity: 1;
    animation-timing-function: ease-out; }
  20% {
    opacity: 1; }
  30% {
    opacity: 0; } }

.btn {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 1rem 1.5rem;
  border-radius: 4px;
  margin: 1rem 0;
  border: none; }
  .btn--submit {
    padding: 1.44rem 1.5rem;
    font-size: 1.6rem; }
  .btn--green {
    background-color: #2a9d8f; }
    .btn--green:hover {
      background-color: #2fb8a8; }
  .btn--blue {
    background-color: #336699; }
    .btn--blue:hover {
      background-color: #3e7dbd; }
  .btn--grey {
    background-color: #a0a0a0; }
    .btn--grey:hover {
      background-color: #bdbdbd; }
  .btn--red {
    background-color: #be1d00; }
    .btn--red:hover {
      background-color: #c9432c; }
  .btn--yellow {
    background-color: #f8b200; }
    .btn--yellow:hover {
      background-color: #ffc42e; }
  .btn--contact {
    color: #2F4858;
    background-color: white;
    display: block;
    margin: 0 auto;
    border-radius: 0; }
    .btn--contact:hover {
      background-color: #dfdfdf;
      cursor: pointer; }

.card {
  width: 95%;
  border: 1px solid #bdbdbd;
  border-radius: .5rem;
  padding: 2rem; }
  .card:not(:last-child) {
    margin-bottom: 2rem; }
  .card__image-container img {
    width: 100%;
    height: 20rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover; }
  .card__text--index {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }

.header {
  width: 100rem;
  height: 8rem;
  padding: 2.5rem 0;
  margin: 3rem auto; }

.nav {
  max-width: 100rem;
  margin: 0 auto; }
  .nav__list {
    list-style: none;
    display: flex; }
    .nav__list-item {
      margin: 0 auto; }
      .nav__list-item-link {
        text-decoration: none;
        color: #2F4858;
        font-weight: 400;
        transition: all .2s;
        border-bottom: 1px solid white; }
        .nav__list-item-link:hover {
          border-bottom: 1px solid #2F4858; }

.active {
  color: #ebc72a; }
