.card {
    width: 95%;
    // margin: 0 auto;
    border: 1px solid $color-grey-light;
    border-radius: .5rem;
    padding: 2rem;

    &:not(:last-child){
        margin-bottom: 2rem;
    }

    &__image-container img {
        width: 100%;
        height: 20rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
        object-fit: cover;
    }

    &__text--index {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

}

.login-container {
    display: flex;
    align-items: center;

    p {
        margin: 1rem;
        font-size: 1.2rem;
    }
}

