.u-margin-bottom-small {
    margin-bottom: 1rem;
}

.u-margin-bottom-medium {
    margin-bottom: 2rem;
}

.u-margin-top-small {
    margin-top: 1rem;
}

.u-margin-top-medium {
    margin-top: 2rem;
}

.u-text-muted {
    color: $color-grey-medium;
}

.u-container {
    width: 70%;
    max-width: 70rem;
    // border: 1px solid $color-grey-light;
    margin: 0 auto;
}

.u-form-ctrl-inline {
    display: inline-block;
}

