<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs', {obj: obj}) %>

<div class="slideshow">
    <ul class="slideshow__list">
        <li class="slideshow__list-item"></li>
        <li class="slideshow__list-item"></li>
        <li class="slideshow__list-item"></li>
        <li class="slideshow__list-item"></li>
        <li class="slideshow__list-item"></li>
    </ul>
</div>


<%- include('../partials/footer.ejs') %>