<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs', {obj: obj}) %>

<div class="u-container">

    <p>make login route</p>
    <p>redirect to articles page after login</p>
    <p>make footer</p>
    <p>all pages fade in</p>
    <p>logo for navbar</p>
    <p>responsive layout</p>
    
</div>

<div class="slideshow">
    <ul class="slideshow__list">
        <li class="slideshow__list-item"></li>
        <li class="slideshow__list-item"></li>
        <li class="slideshow__list-item"></li>
        <li class="slideshow__list-item"></li>
        <li class="slideshow__list-item"></li>
    </ul>
</div>





<!-- <div class="slider">

    <input type="radio" name="slider" id="slide-1" class="slider__radio" checked>
    <input type="radio" name="slider" id="slide-2" class="slider__radio">
    <input type="radio" name="slider" id="slide-3" class="slider__radio">

    <div class="slider__slides">
        <div class="slider__slides-overflow">
            <div class="slider__slides-overflow-inner">

                <div class="slide slide-1">
                    <div class="slide__content">
                        <img src="../../images/painting-1.jpg" alt="painting" class="slide__content--image-1">
                    </div>
                </div>

                <div class="slide slide-2">
                    <div class="slide__content">
                        <img src="../../images/painting-1.jpg" alt="painting" class="slide__content--image-1">
                    </div>
                </div>

                <div class="slide slide-3">
                    <div class="slide__content">
                        <img src="../../images/painting-1.jpg" alt="painting" class="slide__content--image-1">
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="controls">
        <label for="slide-1"></label>
        <label for="slide-2"></label>
        <label for="slide-3"></label>
    </div>

    <div class="bullets">
        <label for="slide-1"></label>
        <label for="slide-2"></label>
        <label for="slide-3"></label>
    </div>
</div> -->


<%- include('../partials/footer.ejs') %>