<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs', {obj: obj}) %>

<div class="about-page-container">

    <div class="about-flexbox">

        <div class="about-flexbox__item">
            <div class="profile-picture"></div>
        </div>

        <div class="about-flexbox__item">
            <div class="about">
                <h1 class="about__heading">An instinctive contemporary photographer</h1>

                <p class="about__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris maximus nisl libero, nec malesuada tellus viverra et. Quisque sit amet sapien pretium, placerat justo sed, consectetur purus. Sed et erat posuere, interdum nulla sed, feugiat orci. Cras pellentesque imperdiet elit, faucibus venenatis purus porta ut. Nulla luctus aliquet dignissim. Suspendisse dignissim convallis aliquet. Suspendisse ac ligula iaculis, auctor mauris a, faucibus nunc. Vestibulum ultricies, orci nec maximus faucibus, leo quam accumsan risus, ac posuere elit tortor ut est.</p>
                    
                <p class="about__paragraph">Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse potenti. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent volutpat luctus lectus eu lobortis. Vestibulum a velit ut leo ultricies elementum. Nam lacinia leo a orci dictum, at volutpat justo iaculis. Suspendisse nec dolor tempus felis tempus aliquam. Curabitur in tortor quam.</p>

                <h1 class="about__heading">An instinctive contemporary photographer</h1>

                <p class="about__paragraph">Vestibulum vestibulum quis felis at varius. Integer ullamcorper ex sit amet egestas sodales. Morbi tempor dolor justo, at aliquet leo ultricies in. Cras et vestibulum turpis. Quisque vel enim purus. Nullam ac viverra sapien. Nunc maximus mi lorem, vel pulvinar diam sodales eu.</p>
                    
                <p class="about__paragraph">Praesent id neque vel nibh luctus semper tristique nec ex. Phasellus at purus nec nulla dignissim vehicula id vestibulum tortor. Maecenas a orci pulvinar, rhoncus lacus sodales, venenatis erat.</p>
            </div>
        </div>
    </div>
</div>



<%- include('../partials/footer.ejs') %>